div.info_popup {
    position: fixed;
    top: 48%;
    left: 48%;
    z-index: 1001;
    display: none;
    overflow: hidden;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.6);
    -webkit-box-shadow: 
        inset 0 0 0 1px rgba(0,0,0,.6), 
        inset 0 0 0 2px rgba(255,255,255,.2);
    -moz-box-shadow: 
        inset 0 0 0 1px rgba(0,0,0,.6), 
        inset 0 0 0 2px rgba(255,255,255,.2);
    box-shadow: 
        inset 0 0 0 1px rgba(0,0,0,.6), 
        inset 0 0 0 2px rgba(255,255,255,.2);
    color: #fff;
    font-size: 22px;
    font-family: 'Oswald',sans-serif;
}



.woocs-text{
    width: 150px;
    line-height: 22px;
}

.woocs-drop-down{
    width: auto;
    height: 30px !important;
}


